<% include layout/header.ejs %>
    <form method="POST">
        <input type="text" name='title'>
        <textarea cols="30" rows="7" name='body'></textarea>
        <button type="submit">Send</button>
    </form>
    <% include layout/footer.ejs %>